.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

#invitacion-template {
    width: 1748px; /* Ajusta el tamaño según tu imagen */
    height: auto;
    display: none;
}

#invitacion-preview {
    width: 500px;
    height: auto;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}